body,
html {
  background: url(https://static1.squarespace.com/static/5739ee5f356fb0e48837c22c/t/5f96319366dc2c25080e2295/1603678613420/graveyard.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
