.Weather {
  max-width: 600px;
  margin: 30px auto 5px;
  padding: 20px 20px 10px 20px;
  border: 3px solid #000;
  border-radius: 6px;
  background: #a82206;
}

.Weather h1 {
  font-family: "Special Elite", cursive;
  margin-top: 10px;
  text-align: right;
  color: white;
}

.Weather ul {
  padding-inline-start: 25px;
}

.Weather li {
  list-style-type: none;
  text-align: right;
  list-style-type: none;
  font-family: "Special Elite", cursive;
  color: white;
}

.Weather .col-6 {
  font-family: monospace;
  font-size: 15px;
  color: white;
}
.Weather .temperature {
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}
.Weather .unit {
  font-size: 20px;
  position: relative;
  top: -25px;
}
.Weather .clearfix canvas {
  margin-right: 15px;
}
.Weather .trees {
  float: left;
}
.Weather .btn-primary {
  background: #1a5c14;
}
